<!DOCTYPE html>
<html>
    <head>
        <title>Herefan</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
    </head>
    <body>
<%= render partial: "/layouts/parts/navbar"%>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
